@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url("../public/fonts/Lausanne-300\ \(2\).woff2");
}
@font-face {
  font-family: font2;
  src: url("../public/fonts/Lausanne-500\ \(1\).woff2");
}
body{
  background-color: #111;
}
.moveLink{
  opacity:0;
  transition:all 0.2s;
}
.link:hover .moveLink{
  opacity:1;
  cursor:pointer;
}
.moveX{
  animation-name:moveAnimation;
  animation-duration:10s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
@keyframes moveAnimation{
  from{
    transform:translateX(0);
  }
  to{
     transform:translateX(-100%);
  }
}